{% extends 'base.twig' %}
{% block title %}Personal Trainer, Dublin ~ Phil Dillon ~ Contact me{% endblock %}

{% block description %}Contact me for more info. Prices from 30euro per session and free 30min
    consultation. Personal Trainer based out of Northwood Gym, Dublin.{% endblock %}

{% block content %}

    {% include 'navbar.twig' %}

    <div class="page-header page-header-lg" style="background-image: url('/img/phil_4.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                {#<h1>Phil Dillon Fitness</h1>#}
                <h1>Personal Trainer</h1>
                <br/>
                <h6 class="p-3">Contact</h6>
                <p>Use the booking form below to get a free fitness consultation.</p>

            </div>
        </div>
    </div><!-- end page-header -->

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Request a callback</h2>
                    <h5 class="description">
                        If youre busy, why not let me call you back. Fill in the form fields and
                        i'll be in touch.
                    </h5>
                    <p class="text-info">
                        I usally get back to people within a day or two.
                    </p>
                    <br>
                    <form id="callBackForm" action="{{ route('callback') }}" method="POST">
                        {{ csrf_field() }}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 p-1">
                                    <label for="name">Name</label>
                                    <div class="input-group">

                                        <input type="text" class="form-control" name="name" placeholder="name"/>
                                        <span class="input-group-addon">

                                        <i class="nc-icon nc-single-02" aria-hidden="true"></i>

                                </span>
                                    </div>
                                </div>
                                <div class="col-md-6 p-1">
                                    <label for="phone">phone number</label>
                                    <div class="input-group">

                                        <input type="tel" class="form-control" name="phone"
                                               placeholder="phone number"/>
                                        <span class="input-group-addon">

                                        <i class="nc-icon nc-phone" aria-hidden="true"></i>

                                </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-md-12 m-3">
                                    <button type="submit" class="btn btn-danger btn-lg
                                    btn-fill">Request Callback</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true"><!-- email sent modal -->

    </div><!-- end confirm email sent modal -->

    <div class="container-fluid">
        <div id="mapid"></div><!-- map -->
    </div>

{% endblock %}
{% block scripts %}
    <script>
        var mymap = L.map('mapid').setView([53.401472, -6.257827], 15);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: '{{ get_env("MAPBOX_ACCESS_TOKEN") }}'
        }).addTo(mymap);
        var marker = L.marker([53.401472, -6.257827]).addTo(mymap);
        marker.bindPopup("<b>Hey!</b><br>Im right here.<br>In Northwood Gym").openPopup();
    </script>
{% endblock %}