{% extends 'base.twig' %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}

{% block content %}

    {% include 'navbar.twig' %}

    <div class="page-header page-header-small" style="background-image: url('/img/phil_4.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                {#<h1>Phil Dillon Fitness</h1>#}
                <h1>Personal Trainer</h1>
                <br/>
                <p class="p-3">Get your free 30min fitness assessment</p>
                <button type="button" class="btn btn-outline-neutral btn-round">Book Now</button>
            </div>
        </div>
    </div><!-- end page-header -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Free 30 minute consultation</h2>
                    <h5 class="description">
                        Book your free 30 minute consultation where i will go through a 20 point questionnaire to discover what your fitness goals are. I
                        will then take you through a fitness assessment, which takes 10 minutes, and using the information from the questionnaire and the
                        fitness assessment, i will design a fitness program tailored specifically to you.
                    </h5>
                    <p class="text-info">
                        Book a date and time and i'll get back to you if available.
                    </p>
                    <br>
                    <form action="">
                        <div class="container">
                        <div class="row">
                            <div class="col-md-6 p-1">
                                <label for="name">Name</label>
                                <div class="input-group">

                                    <input type="name" class="form-control" placeholder="name"/>
                                    <span class="input-group-addon">

                                        <i class="nc-icon nc-single-02" aria-hidden="true"></i>

                                </span>
                                </div>
                            </div>
                            <div class="col-md-6 p-1">
                                <label for="email">email</label>
                                <div class="input-group">

                                    <input type="email" class="form-control" placeholder="email"/>
                                    <span class="input-group-addon">

                                        <i class="nc-icon nc-email-85" aria-hidden="true"></i>

                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1">
                                <label for="date">Date</label>
                                <div class="input-group date" id="datetimepicker">
                                    <input type="text" class="form-control datetimepicker" placeholder="book a date" readonly="true"/>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 p-1">
                                <label for="message">Message</label>
                                <textarea class="form-control" rows="4" placeholder="Got any special requirements or allergies? Let me know here.."></textarea>
                            </div>


                        </div>

                        <div class="row text-center">
                            <div class="col-md-12 m-3">
                                <a href="" class="btn btn-danger btn-lg btn-fill">Book</a>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- end section -->
    <div class="container-fluid">
        <div id="mapid"></div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        var mymap = L.map('mapid').setView([53.401472, -6.257827], 15);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: '{{ get_env("MAPBOX_ACCESS_TOKEN") }}'
        }).addTo(mymap);
        var marker = L.marker([53.401472, -6.257827]).addTo(mymap);
        marker.bindPopup("<b>Hey!</b><br>Im right here.").openPopup();
    </script>
{% endblock %}