{% extends 'base.twig' %}
{% block title %}Personal Trainer ~ Phil Dillon ~ Home{% endblock %}
{% block description %}Personal Trainer based out of Northwood Gym. Prices from 30euro per session and free 30min consultation. {% endblock %}

{% block content %}
    {% include 'navbar.twig' %}

    <div class="page-header page-header-lg" style="background-image: url('/img/phil_2.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                <h1>Phil Dillon Fitness</h1>
                <h3>Personal Trainer</h3>
                <br/>
                <p class="p-3">Get your free 30min fitness assessment</p>
                {#<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>#}
                <button type="button" class="btn btn-outline-neutral btn-round">Book Now</button>
            </div>
        </div>
    </div><!-- end page-header -->
    <div class="main">
        <div class="section text-center">
            <div class="container">

                <br/><br/>
                <div class="row p-4">
                    <div class="col-md-4 m-4 m-md-0">
                        <div class="info">
                            <div class="bg-primary p-3">
                                <img src="/img/icons8-fitness.png" class="bg-primary"/>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Training</h4>
                                <p class="description">A combination of cardiovascular and resistance training.</p>
                                {#<a href="#pkp" class="btn btn-link btn-danger">See more</a>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 m-4 m-md-0">
                        <div class="info">
                            <div class="bg-danger p-3">
                                <img src="/img/icons8-gym.png" alt="gym icon">
                            </div>
                            <div class="description">
                                <h4 class="info-title">Nutrition</h4>
                                <p>I place a lot of emphasis on nutrition and am highly knowledgeable in this area.</p>
                                {#<a href="#pkp" class="btn btn-link btn-danger">See more</a>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 m-4 m-md-0">
                        <div class="info">
                            <div class="bg-success p-3">
                                <img src="/img/icons8-sports-mode.png" alt="sports icon">
                            </div>
                            <div class="description">
                                <h4 class="info-title">Results</h4>
                                <p>I monitor your fitness and provide measurements for body weight and body fat every 2 weeks.</p>
                                {#<a href="#pkp" class="btn btn-link btn-danger">See more</a>#}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Free 30 minute consultation</h2>
                        <h5 class="description">
                            Book your free 30 minute consultation where i will go through a 20 point questionnaire to discover what your fitness goals are. I
                            will then take you through a fitness assessment, which takes 10 minutes, and using the information from the questionnaire and the
                            fitness assessment, i will design a fitness program tailored specifically to you.
                        </h5>
                        <p class="text-info">
                            Book a date and time and i'll get back to you if available.
                        </p>
                        <br>
                        <form action="">
                            <div class="input-group p-1">
                                <input type="name" class="form-control" placeholder="name"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-apple">
                                        <i class="fa fa-apple" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="input-group p-1">
                                <input type="email" class="form-control" placeholder="email"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="input-group date p-1" id="datetimepicker">
                                <input type="text" class="form-control datetimepicker" placeholder="book a date" readonly="true"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </div>

                        <a href="#paper-kit" class="btn btn-danger btn-round">Book Now</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-dark text-center">
            <div class="container">
                <h2 class="title">Let's talk about me</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="img/phil_profile.jpg" alt="..."></a>
                            </div>
                            <div class="card-body">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Phil Dillon</h4>
                                        <h6 class="card-category">Personal Trainer</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Im a personal trainer who is passionate about what i do, placing a lot of emphasis on nutrition and long-term fitness goals.
                                </p>

                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-outline-default btn-round" data-toggle="modal" data-target="#myModal">
                                    My Profile
                                </button>
                                {#<a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>#}
                                {#<a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>#}
                                {#<a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>#}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center">Keep in touch?</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <div class="input-group">
	                                        <span class="input-group-addon">
	                                            <i class="nc-icon nc-single-02"></i>
	                                        </span>
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="input-group">
											<span class="input-group-addon">
												<i class="nc-icon nc-email-85"></i>
											</span>
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto">
                                    <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Profile Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">My Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Info</h6>
                    <p>
                        Im phil dillon, a personal trainer. I have a B.Sc(hons) in Sports Health & Physical Education from the University of
                        Wales as well as two ITEC qualifications in personal training and fitness instructing.
                    </p>
                    <h6>Influences</h6>
                    <p>
                        My Father is a world champion power-lifter for Ireland (Austria 2007) and is still lifting 40 years later. As a child, i grew up
                        around the gym and from there developed my love for training and staying fit. Ive also been involved in numerous sports while growing
                        up: Power-lifting, football, hurling, soccer, cross-country and badminton.
                    </p>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end profile modal -->
    <footer class="footer section-dark">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                        <li><a href="http://blog.creative-tim.com">Blog</a></li>
                        <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                    </ul>
                </nav>
                <div class="credits ml-auto">
					<span class="copyright">
						© <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
					</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}