<nav class="navbar navbar-expand-lg navbar-primary">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">Phil Dillon Fitness</a>
            <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/admin/dashboard" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">

                    <div class="dropdown dropdown-info">
                        <a href="#" class="btn btn-dark dropdown-toggle"
                           data-toggle="dropdown">
                            Camps
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li class="dropdown-header">Camps</li>
                            <a class="dropdown-item" href="{{ route('camps.index') }}">View
                                Camps</a>
                            <a class="dropdown-item" href="{{ route('camps.create') }}">Create
                                Camp</a>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">

                    <div class="dropdown dropdown-info">
                        <a href="#" class="btn btn-primary dropdown-toggle"
                           data-toggle="dropdown">
                            Prices
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li class="dropdown-header">Prices</li>
                            <a class="dropdown-item" href="{{ route('prices.index') }}">View
                                Prices</a>
                            <a class="dropdown-item" href="{{ route('prices.create') }}">Create
                                Price</a>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- end nav -->