{% extends 'admin/admin.twig' %}
{% block title %} Dashboard {% endblock %}
{% block description %}{% endblock %}

{% block content %}

    <div>
        <div class="container m-4">
            <div class="row">
                <h6>Welcome {{ auth_user().email }}</h6>
            </div>
            <div class="row">
                <h6>Content Management Sections</h6>
                <div class="col-md-12">

                    <div class="list-group">
                        <a href="{{ route('camps.index') }}" class="list-group-item
                        list-group-item-action">
                            Camps
                            <span class="label label-success float-right">{{ count }}
                                camps in the database</span></a>
                        <a href="#" class="list-group-item list-group-item-action">Pricing</a>
                        <a href="#" class="list-group-item list-group-item-action">Testimonials</a>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}