<h1>Phil Dillon Fitness Booking Form</h1>
<p>Kudos!</p>
<p>You have a new message from <em>{{ bookingFormData.name }}</em></p>
<p>I would like to book a fitness assessment on {{ bookingFormData.date }}</p>
<p>{{ bookingFormData.message }}</p>